<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>

    <script src="../js/appNew.js"></script>

</head>

<body class="d-flex flex-column h-100" onload="instantConnectGroup()">

<div th:replace="~{fragments/header :: header}"></div>

<br />
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div>
    <br />
    <div th:text="${activePage}"> </div>
    <div th:text="${from}"> </div>
    <br />
    <div>
        <input type="text" id="from" placeholder="Choose a nickname"/>
    </div>
    <br />
    <div>
        <input type="text" id="username" placeholder="Write your username..."/>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
        <button id="subscribe" disabled="disabled" onclick="subscribe();">Subscribe</button>
    </div>
    <br />
    <div id="addToRoomDiv">
        <input type="text" id="room" placeholder="Select room..."/>
        <input type="text" id="userToRoom" placeholder="Add a user to room..."/>
        <button id="addToRoom" onclick="addToRoom();">Add to Room</button>
    </div>
    <br />
    <div id="converRoomDiv">
        <input type="text" id="destRoom" placeholder="Write your destination room..."/>
        <input type="text" id="textRoom" placeholder="Write a message..."/>
        <button id="sendToRoom" onclick="sendToRoom();">Send</button>
    </div>
    <br />
    <div><p id="response"></p></div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>