<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
    <meta charset="UTF-8">
    <title>Chat Application</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link th:href="@{styles/main.css}" rel="stylesheet"/>


    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="js/appNew.js"></script>
    <script src="js/createGroup.js"></script>

</head>

<body class="d-flex flex-column h-100" onload="instantConnect()">

<div th:replace="~{fragments/header :: header}"></div>

<br />
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2></noscript>

<div>
    <!--br />
    <div>
        <input type="text" id="from" th:name="from" name="from" placeholder="Choose a nickname"/>
        <input type="text" id="username" th:name="username" name="username" placeholder="Write your username..."/>
        <button id="connect" onclick="connectToMain();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <br /-->
    <div id="createRoomDiv">
        <input type="text" id="chatRoom" placeholder="Add new chatroom name..."/>
        <button id="createRoom" onclick="createRoom();">Create Room</button>
    </div>
    <br />
    <div id="conversationDiv">
        <input type="text" id="destination" placeholder="Destination username..."/>
        <br />
        <textarea rows = "5" cols = "60" id="text" placeholder="Write a message..."></textarea>
        <button id="sendMessage" onclick="sendMessage();">Send</button>
        <br />
        <p id="response"></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
        crossorigin="anonymous">
</script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
</script>
</body>
</html>